<h1><%= @event.name %></h1>
<p>
<% if not @guest then %>
  You are not a guest.
<% elsif @voted then %>
  You have already voted.
<% elsif @occurred then %>
  You may now vote:
  <%= form_tag vote_path, method: :post do %>
    <%= number_field_tag 'score', nil, min: 1, max: 10 %>
    <%= submit_tag "Vote" %>
  <% end %>
<% else %>
  You cannot vote yet.
<% end %>
</p>
<p><strong><%= @votes %></strong> out of <strong><%= @total %></strong> people have voted.</p>

<% if @revealed %><p> The final score is <strong><%= @score %></strong> (Average: <strong><%= @average %></strong>).</p><% end %>
